/* You can add global styles to this file, and also import other style files */

@import"~font-awesome/css/font-awesome.min.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~@ng-select/ng-select/themes/default.theme.css";

@media (min-width: 576px){
    .modal-dialog {
       //max-width: 370px !important;
        margin: 30vh auto !important;
    }

    .modal-content{
        width: max-content !important;
        margin: auto !important;
    }

    .modal-dialog {
        box-shadow: none !important;
    }
}
